/* *************************** */
/*           Login Page        */
/* *************************** */

@media (max-width: 992px) {
  html {
    font-size: 60%;
  }

  .login-page .login-page-text {
    flex-basis: 60%;
  }

  .login-page .login-page-heading {
    font-size: 2.4rem;
  }

  .login-page .login-page-message {
    padding: 0.4rem 4.8rem;
  }

  .login-page .create-form-box,
  .login-page .login-form-box {
    flex-basis: 40%;
  }

  .login-page .common-form-title {
    font-size: 2.6rem;
    margin-top: 3.2rem;
  }
}

@media (max-width: 786px) {
  html {
    font-size: 58%;
  }

  .login-page {
    flex-direction: column;
    align-items: center;
    gap: 9.6rem;
  }
  .login-page .login-page-heading {
    font-size: 3.4rem;
  }

  .login-page .login-page-message {
    padding: 0.8rem 8vw;
  }
  .login-page .create-form-box,
  .login-page .login-form-box {
    width: 55%;
  }

  .login-page .common-form-title {
    font-size: 4.2vw;
  }

  .login-page .input-field {
    width: 75%;
  }
  .login-page .submit-btn {
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 55%;
  }

  .login-page .create-form-box,
  .login-page .login-form-box {
    width: 55%;
  }
}

@media (max-width: 530px) {
  .login-page .login-page-heading {
    font-size: 5vw;
  }
  .login-page .common-form-title {
    font-size: 7vw;
  }
  .login-page .create-form-box,
  .login-page .login-form-box {
    width: 85%;
  }
}
