/* *************************** */
/*           Contact           */
/* *************************** */
/* .container .contact { */
.contact {
  display: flex;
  gap: 7rem;
  font-size: 1.6rem;
  padding-top: 3.2rem;
  /* margin-top: 3.6rem; */
  /* padding-bottom: 2.4rem;
}

.contact__img-container {
  /* flex-basis: 40%; */
  /* padding-top: 20rem; */

  display: flex;
  justify-items: center;
  align-items: center;
}

.contact__img {
  max-width: 45rem;
}

/* .contact__form-box {
} */

.contact__form {
  flex-basis: 50%;
  /* max-width: 80%; */
  /* margin: 0 auto; */
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.6rem;
  background-color: #d6f3db;
  padding: 2.4rem;
  border-radius: 36px 36px 36px 0;
}

.contact__form label {
  font-family: inherit;
  color: #0e2f14;
}

.contact__form input {
  font-family: inherit;
  min-height: 4.8rem;
  border-radius: 32px;
  border: none;
  box-shadow: -2px 2px 4px grey;
  background-size: 2.7rem;
  background-position: 1.4rem 1rem;
  background-repeat: no-repeat;
  padding-left: 4.8rem;
}

.contact__form input:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 0px;
}

#message {
  max-height: 12.8rem;
  font-family: inherit;
  color: inherit;
  padding: 1.6rem;
  border: none;
  border-radius: 32px 32px 32px 0;
  resize: none;
  overflow: hidden;
  box-shadow: -2px 2px 4px grey;
}

#message:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 0px;
}

[id="name"] {
  background-image: url("../../../public/form/user.png");
}

[id="email"] {
  background-image: url("../../../public/form/email.png");
}

.contact .send-btn {
  align-self: center;
  padding: 0.6rem 2.4rem;
}

.contact__icon-box {
  /* flex-basis: 10%; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* padding-top: 3.6rem; */
  justify-content: center;
  /* margin-left: auto; */
}

.contact__icon {
  transition: transform 0.3s;
}
.contact__icon:hover {
  transform: rotate(20deg);
}

.contact__icon {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.contact__icon img {
  width: 4.8rem;
  height: 4.8rem;
}

/* *************************** */
/*    Contact Media Queries    */
/* *************************** */

@media (max-width: 992px) {
  .container .contact {
    flex-direction: column;
  }

  .contact__img-container {
    padding-top: 1rem;
    text-align: center;
  }
  .contact-background-img {
    max-width: 80%;
  }
  .contact__icon-box {
    gap: 4.8rem;
    max-width: 90%;
    margin: 0 auto;
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .contact__form {
    max-width: 90%;
    padding: 3.6rem 2.6rem;
  }

  .contact__icon-box {
    padding-top: 0;
  }
}

@media (max-width: 400px) {
  .contact__icon-box {
    gap: 2em;
  }
}
