/* *************************** */
/*           Contact           */
/* *************************** */
.container .contact {
  display: flex;
  gap: 1.6rem;
  font-size: 1.6rem;
  margin-top: 3.6rem;
  padding-bottom: 2.4rem;
}

.contact-background {
  flex-basis: 40%;
  padding-top: 20rem;
}

.contact-background-img {
  max-width: 100%;
}

.message-box {
  flex-basis: 50%;
}

.message-form {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.6rem;
  background-color: #d6f3db;
  padding: 4.8rem 6.4rem;
  border-radius: 64px 64px 64px 0;
}

.message-form label {
  font-family: inherit;
  color: #0e2f14;
}

.message-form input {
  font-family: inherit;
  min-height: 4.8rem;
  border-radius: 32px;
  border: none;
  box-shadow: -2px 2px 4px grey;
  background-size: 2.7rem;
  background-position: 1.4rem 1rem;
  background-repeat: no-repeat;
  padding-left: 4.8rem;
}

.message-form input:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 0px;
}

#message {
  max-height: 12.8rem;
  font-family: inherit;
  color: inherit;
  padding: 1.6rem;
  border: none;
  border-radius: 32px 32px 32px 0;
  resize: none;
  overflow: hidden;
  box-shadow: -2px 2px 4px grey;
}

#message:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 0px;
}

[id="name"] {
  background-image: url("../../images/user1.png");
}

[id="email"] {
  background-image: url("../../images/email.png");
}

[id="subject"] {
  background-image: url("../../images/book.png");
}

.contact .send-btn {
  align-self: center;
  padding: 0.6rem 2.4rem;
}

.social-icon-box {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 3.6rem;
}

.social-icon {
  transition: transform 0.3s;
}
.social-icon:hover {
  transform: rotate(20deg);
}

.social-icon a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.social-icon a img {
  width: 4.8rem;
  height: 4.8rem;
}

.social-icon {
  margin-top: 2.4rem;
}
