/* *************************** */
/*           Contact           */
/* *************************** */

@media (max-width: 992px) {
  .container .contact {
    flex-direction: column;
  }

  .contact-background {
    padding-top: 1rem;
    text-align: center;
  }
  .contact-background-img {
    max-width: 80%;
  }
  .social-icon-box {
    gap: 4.8rem;
    max-width: 90%;
    margin: 0 auto;
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .message-form {
    max-width: 90%;
    padding: 3.6rem 2.6rem;
  }

  .social-icon-box {
    padding-top: 0;
  }
}

@media (max-width: 400px) {
  .social-icon-box {
    gap: 2em;
  }
}
