/* *************************** */
/*         Desktop Nav         */
/* *************************** */

.desktop-nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  z-index: 6;
}

.desktop-nav-item a:link,
.desktop-nav-item a:visited {
  text-decoration: none;
  color: black;
  padding: 0.8rem 1.6rem;
  border-radius: 1.4rem 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: 0.2s;
}

.desktop-nav-item a:hover,
.active {
  background-color: var(--main-color);
  color: white !important;
}

@media (max-width: 800px) {
  .desktop-nav-list {
    display: none;
  }
}
