.counter {
  display: flex;
  align-items: center;
  gap: 1;
}

.counter__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 1.6rem 0 1.6rem 0;
  background-color: var(--main-color);
  color: white;
  border: none;
  transition: 0.3s;
}

.counter__btn:active {
  transform: translateY(5px);
}

.counter__btn:hover {
  background-color: #40c057;
}

.counter__value {
  font-size: 1.6rem;
  text-align: center;
  width: 3.6rem;
}
