/* Overlay */
.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Box */
.modal__box {
  position: relative;
  max-width: 75rem;
}

/* Close Button */
.modal__close {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  transition-duration: 0.3s;
}

.modal__close:hover {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .modal__close {
    top: 6px;
    right: 6px;
  }
}
