/* *************************** */
/*            Store            */
/* *************************** */
/* 
@media (max-width: 1200px) {
  .tools {
    grid-template-columns: 3fr 1.4fr 1fr !important;
  }
  .tools .search input {
    font-size: 1.6em;
    padding: 0.6em 0.8em 0.6em 1.8em;
  }

  .tools .search svg {
    top: 1.2em;
    left: 3em;
    width: 2em;
  }
}

@media (max-width: 992px) {
  .store {
    grid-template-columns: 3fr 4fr !important;
  }
  .store-container {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
  .products-container {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 786px) {
  .tools {
    margin-top: 3rem;
  }
}

@media (max-width: 660px) {
  .tools {
    grid-template-columns: 1fr 1fr;
  }

  .tools .search {
    width: 100%;
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .tools .search input {
    margin-left: 0;
  }

  .tools .search svg {
    left: 0.8em;
  }

  .tools .sort {
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    padding: 1.2em;
  }

  .tools .sort label {
    display: none !important;
  }

  .tools .btn-cart {
    grid-row: 2;
    grid-column: 2;
  }

  .store {
    grid-template-columns: 1fr !important;
  }
  .store-container {
    padding: none;
  }

  .product-item {
    max-width: 80%;
    align-self: center;
    justify-self: center;
  }

  .tools .cart-info {
    display: none;
  }

  .plant-info {
    padding: 0 1.6em;
    padding-bottom: 0.8em;
    border-radius: 5.6em 0 4.8em 4.8em;
    display: none;
  }

  .plant-info-img {
    margin-top: 1.3em;
  }

  .plant-info-name {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
  }

  .plant-info-price-count {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .plant-info-description {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .plant-info-price {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    align-self: center;
  }
  .count {
    grid-column: 1;
    grid-row: 1;
  }

  .plant-info .add-btn {
    padding: 0.6em;
    width: 60%;
  }
} */
