.store {
  padding-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  min-height: 48rem;
  list-style-type: none;
}

/* Media Queries  */

@media (max-width: 991px) {
  .store {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .store {
    grid-template-columns: 1fr;
  }
}
