/* *************************** */
/*            Store            */
/* *************************** */
.store-container {
  padding: 3.2rem;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

/* *************************** */
/*    Store Media Queries      */
/* *************************** */

@media (max-width: 991px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}
