.tools {
  margin-top: 2.6rem;
  background-color: rgb(105, 219, 124, 0.5);
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2.4rem 0 2.4rem 0;
}

.tools__link {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  width: fit-content;
}

.tools__icon {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  color: var(--main-color);
  transition: all 0.3s;
}

.tools__icon:hover {
  color: #fff;
}

/* Media Queries  */

@media (max-width: 1200px) {
  .tools {
    grid-template-columns: 3fr 1.4fr 1fr;
  }
}

@media (max-width: 768px) {
  .tools {
    margin-top: 3rem;
  }
}

@media (max-width: 660px) {
  .tools {
    grid-template-columns: 1fr 1fr;
  }
}
