/* *************************** */
/*          Tools              */
/* *************************** */

.tools {
  background-color: rgb(105, 219, 124, 0.5);
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2.4rem 0 2.4rem 0;
}

.tools-cart-btn {
  margin: 0 auto;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  color: var(--main-color);
  transition: all 0.3s;
}

.tools-cart-btn:hover {
  color: #fff;
}

/* *************************** */
/*   Tools Bar Media Queries   */
/* *************************** */

@media (max-width: 1200px) {
  .tools {
    grid-template-columns: 3fr 1.4fr 1fr !important;
  }
}

@media (max-width: 786px) {
  .tools {
    margin-top: 3rem;
  }
}

@media (max-width: 660px) {
  .tools {
    grid-template-columns: 1fr 1fr;
  }
}
