/* *************************** */
/*           Login Page        */
/* *************************** */
.account-page {
  display: flex;
  justify-content: space-around;
  margin-top: 6.4rem;
  padding-bottom: 2.4rem;
}

.account-text {
  flex-basis: 60%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-heading {
  font-size: 2.6rem;
}

.account-message {
  padding: 0.4rem 6rem;
  line-height: 1.4;
  margin-top: 1rem;
}

/* ******************************* */
/* Common Style  */
/* ******************************* */
.input-field {
  width: 85%;
  border: none;
  border-radius: 26px;
  font-size: 1.6rem;
  background-position: 1.2rem 0.8rem;
  background-size: 2.4rem;
  background-repeat: no-repeat;
  padding: 1.2rem 2rem 1.2rem 4.5rem;
  box-shadow: -1px 2px 4px -1px #555;
}

.input-field:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 0px;
}

.form-footer {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  color: var(--main-color);
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.form-link:link,
.form-link:visited {
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.3s;
  background-color: transparent;
  text-decoration: none;
}
.form-link:hover,
.form-link:active {
  color: #51cf66;
  transform: scale(1.1);
}

.submit-btn {
  padding: 0.8rem 2.4rem;
  margin-top: 1.6rem;
}

.submit-btn:active {
  transform: translateY(10px);
}

.common-form-box {
  flex-basis: 30%;
  margin: 0 auto;
}

.common-form {
  margin: 0 auto;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.6rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 6.4rem;
  padding: 1.5rem;
  box-shadow: -0.8rem 0.7rem 0.6rem -0.2rem #999;
  align-items: center;
}

.common-form-img {
  width: 12.8rem;
  height: 12.8rem;
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
}

.common-form-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}

[placeholder="User Name"] {
  background-image: url("../../../public/form/user.png");
}

[placeholder="Email"] {
  background-image: url("../../../public/form/email.png");
}

[placeholder="Password"] {
  background-image: url("../../../public/form/padlock.png");
}

/* ******************************* */
/* Login form box                  */
/* ******************************* */

.sign-in-title {
  margin-top: 1.6rem;
}

/* ******************************* */
/* Create Acount form box  */
/* ******************************* */

.sign-up-title {
  margin-top: 2.4rem;
}

/* *************************** */
/*   Login Page Media Queries  */
/* *************************** */

@media (max-width: 992px) {
  html {
    font-size: 60%;
  }

  .account-page .account-text {
    flex-basis: 60%;
  }

  .account-page .account-heading {
    font-size: 2.4rem;
  }

  .account-page .account-message {
    padding: 0.4rem 4.8rem;
  }

  .account-page .sign-up-form-box,
  .account-page .sign-in-form-box {
    flex-basis: 40%;
  }

  .account-page .common-form-title {
    font-size: 2.6rem;
    margin-top: 3.2rem;
  }
}

@media (max-width: 786px) {
  html {
    font-size: 58%;
  }

  .account-page {
    flex-direction: column;
    align-items: center;
    gap: 9.6rem;
  }
  .account-page .account-heading {
    font-size: 3.4rem;
  }

  .account-page .account-message {
    padding: 0.8rem 8vw;
  }
  .account-page .sign-up-form-box,
  .account-page .sign-in-form-box {
    width: 55%;
  }

  .account-page .common-form-title {
    font-size: 4.2vw;
  }

  .account-page .input-field {
    width: 75%;
  }
  .account-page .submit-btn {
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 55%;
  }

  .account-page .sign-up-form-box,
  .account-page .sign-in-form-box {
    width: 55%;
  }
}

@media (max-width: 530px) {
  .account-page .account-heading {
    font-size: 5vw;
  }
  .account-page .common-form-title {
    font-size: 7vw;
  }
  .account-page .sign-up-form-box,
  .account-page .sign-in-form-box {
    width: 85%;
  }
}
