.account {
  display: flex;
  justify-content: space-around;
}

.account--sign-in {
  padding: 9.2rem 0 3.4rem 0;
}

.account--sign-up {
  padding-top: 5.8rem;
}

.account__text {
  flex-basis: 60%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__title {
  font-size: 2.6rem;
}

.account__message {
  padding: 0.4rem 6rem;
  line-height: 1.4;
  margin-top: 1rem;
}

.account__field {
  width: 90%;
  border: none;
  border-radius: 26px;
  font-size: 1.6rem;
  background-position: 1.2rem 0.8rem;
  background-size: 2.4rem;
  background-repeat: no-repeat;
  padding: 1.2rem 2rem 1.2rem 4.5rem;
  box-shadow: -1px 2px 4px -1px #555;
}

.account__field:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 0px;
}

.account__footer-text {
  font-size: 1.4rem;
  margin-right: 4px;
}

.account__link:link,
.account__link:visited {
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.3s;
  background-color: transparent;
  text-decoration: none;
}
.account__link:hover,
.account__link:active {
  color: #51cf66;
  transform: scale(1.1);
}

.account__form {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.6rem;
  border: 2px solid var(--main-color);
  border-radius: 3.6rem;
  padding: 1.6rem;
  padding-bottom: 2.6rem;
  box-shadow: -0.8rem 0.7rem 0.6rem -0.2rem #999;
  align-items: center;
}

.account__img {
  width: 9.6rem;
  height: 9.6rem;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

.account__form-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.6rem;
}

.account__name {
  background-image: url("../../../public/form/user.png");
}

.account__email {
  background-image: url("../../../public/form/email.png");
}

.account__password {
  background-image: url("../../../public/form/padlock.png");
}

/* Media Queries  */

@media (max-width: 992px) {
  html {
    font-size: 60%;
  }
  .account {
    flex-direction: column;
    align-items: center;
    gap: 9.6rem;
  }

  .account__message {
    padding: 0.4rem 2rem;
    text-align: center;
  }

  .account__form {
    width: 80%;
    max-width: 36rem;
  }
}

@media (max-width: 600px) {
  .account__message {
    padding: 0.4rem 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
  .account__message {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .account__title {
    font-size: 2.4rem;
  }
}
