.cart {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  background-color: white;
  border-radius: 6.4rem 0;
  border: 1px solid var(--main-color);
  margin: 32px auto;
}

.cart__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.6rem;
  border-radius: 4.8rem 0;
  border: 1px solid var(--main-color);
}

.cart__item__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart__item-img {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 2.4rem;
}

.cart__item-name {
  width: 19.6rem;
  font-size: 1.6rem;
}
.cart__item-count {
  text-align: right;
  font-size: 2.6rem;
  width: 6rem;
}
.cart__item-price {
  width: 16rem;
  font-size: 1.6rem;
}

.cart__delete-btn {
  cursor: pointer;
  background-color: #b91c1c;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  border-color: transparent;
  margin-left: 2.6rem;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: 0.3s;
}

.cart__delete-btn:hover {
  background-color: #dc2626;
}

.cart__delete-btn:active {
  background-color: #b91c1c;
  transform: translateY(10px);
}

.cart__item-control {
  justify-self: end;
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Media Queries  */

@media (max-width: 992px) {
  .cart__item {
    flex-wrap: wrap;
  }
  .cart__item-control {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .cart__item {
    flex-direction: column;
  }

  .cart__item-price,
  .cart__item-name {
    width: auto;
  }

  .cart__item__img-box {
    margin-right: 6rem;
  }
}
