/* *************************** */
/*          Cart               */
/* *************************** */

.cart {
  min-height: 24rem;
  color: var(--main-color);
  user-select: none;
}

.cart-items__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  background-color: white;
  border-radius: 6.4rem 0;
  border: 1px solid var(--main-color);
  margin: 32px auto;
}

.cart-item {
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.6rem;
  grid-template-columns: 5.4rem auto 1fr auto 1fr;
  border-radius: 4.8rem 0;
  border: 1px solid var(--main-color);
}

.cart-item-image img {
  position: relative;
  top: 0.1rem;
  left: 0.1rem;
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 2.4rem;
}

.cart-item-name {
  font-size: 1.8rem;
}
.cart-item-count {
  font-size: 2.6rem;
  justify-self: end;
}
.cart-item-price {
  font-size: 1.6rem;
}

.btn-delete-cart-item {
  cursor: pointer;
  background-color: #b91c1c;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  border-color: transparent;
  margin-left: 2.6rem;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: 0.3s;
}

.btn-delete-cart-item:hover {
  background-color: #dc2626;
}

.btn-delete-cart-item:active {
  background-color: #b91c1c;
  transform: translateY(10px);
}

.cart-control-btns {
  justify-self: end;
  display: flex;
  align-items: center;
}

.cart-item-counter {
  font-size: 1.6rem;
}

.btn-delete-cart-item-svg {
  width: 16px;
  height: 16px;
  fill: white;
}

/* *************************** */
/*         Empty Cart          */
/* *************************** */

.empty-cart-container {
  max-width: fit-content;
  border: 2px solid var(--main-color);
  border-radius: 4.9rem 0;
  overflow: hidden;
  margin: 32px auto;
}

.empty-cart-img {
  display: block;
  margin: 0 auto;
}

.empty-cart-p {
  font-size: 3.6rem;
  text-align: center;
  margin: 0 auto;
  color: var(--main-color);
  margin-top: -18rem;
  margin-bottom: 3.6rem;
}

/* *************************** */
/*   Cart Media Queries        */
/* *************************** */

@media (max-width: 992px) {
  .cart .cart-item-name {
    font-size: 1.4rem;
  }
  .cart .cart-item-count {
    font-size: 1.4rem;
  }
  .cart .cart-item-price {
    font-size: 1.4rem;
  }
  .cart-item-counter {
    font-size: 1.4rem;
  }
}

@media (max-width: 786px) {
  .cart-items__container .cart-item {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 2.4rem 1.6rem;
  }
  .cart-item-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }

  .cart-item-name {
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
  }
  .cart-item-count {
    display: none;
  }
  .cart-item-price {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    text-align: center;
  }

  .cart .cart-control-btns {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
  }
}
