/* *************************** */
/*           Cart              */
/* *************************** */

@media (max-width: 992px) {
  .cart .cart-item-name {
    font-size: 1.4rem;
  }
  .cart .cart-item-count {
    font-size: 1.4rem;
  }
  .cart .cart-item-price {
    font-size: 1.4rem;
  }
  .cart-item-counter {
    font-size: 1.4rem;
  }
}

@media (max-width: 786px) {
  .cart-items__container .cart-item {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 2.4rem 1.6rem;
  }
  .cart-item-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }

  .cart-item-name {
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
  }
  .cart-item-count {
    display: none;
  }
  .cart-item-price {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    text-align: center;
  }

  .cart .cart-control-btns {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
  }
}
